<div class="nav-header">
    <div class="brand-logo">
        <a href="/admin/dashboard">
            <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="/admin/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>
<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/admin/dashboard" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Tổng quan</span>
                </a>
            </li>
            <li>
                <a href="/admin/users" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Quản lý người dùng</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-desktop menu-icon"></i><span class="nav-text">Quản lý sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/categories">Danh mục sản phẩm</a></li>
                    <li><a href="/admin/products">Danh sách sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/orders" aria-expanded="false">
                    <i class="icon-basket-loaded menu-icon"></i><span class="nav-text">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a href="/admin/coupons" aria-expanded="false">
                    <i class="icon-tag menu-icon"></i><span class="nav-text">Mã khuyến mãi</span>
                </a>
            </li>
            <li>
                <a href="/admin/reviews" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Quản lý đánh giá</span>
                </a>
            </li>
            <li>
                <a href="/" aria-expanded="false">
                    <i class="icon-globe menu-icon"></i><span class="nav-text">Xem website</span>
                </a>
            </li>
            <li>
                <a href="/auth/logout" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
</div>